.header-top-side{
    width: 100%;
    height: 41px;
    background-color: #634C9F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__title{
        font-size: 16px;
        color: #ffffff;
    }
}
.header-mid{
    width: 100%;
    height: 41px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__menu{
        
        display: flex;
    }
}
.header-top{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    
    &__logo{
     
       display: flex;
       width: 10%;
       align-items: center;

    }
    &__user{
        display: flex;
        align-items: center;
        padding: 0 10pxgh;
     :nth-child(1)
     {
        font-size: 24px;
        margin-right: 15px;
     }
     :nth-child(2)
     {
        font-size: 16px;
        margin-right: 15px;
     }
     :nth-child(3){
        font-size: 24px;
        margin-right: 15px;
     }
    }
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    aspect-ratio: 1;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    // margin-right: 30px;
    
}
.ics{
    font-size: 24px;
    color:  #000;
}